certifi==2023.11.17
charset-normalizer==3.3.2
decorator==4.4.2
distlib==0.3.8
filelock==3.13.1
haversine==2.8.1
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
joblib==1.4.2
moviepy==1.0.3
numpy==1.26.2
pandas==2.1.4
Pillow==10.1.0
platformdirs==4.1.0
proglog==0.1.10
PuLP==2.8.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
scikit-learn==1.5.1
scipy==1.14.0
simpy==4.1.1
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.66.1
tzdata==2023.4
urllib3==2.1.0
virtualenv==20.25.0
